@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
    background-color: #050505;
    font-family: 'Inter',sans-serif;
    scroll-behavior: smooth;
}

h6 {
    font-family: 'Lobster',sans-serif;
}

.portfolio_Div p {
    font-family: 'Lobster',sans-serif;
    font-size: 30px;
}